@model Service.Services.Billing.VmBilling
@using Service.Common.Enums
@{
    ViewData["Title"] = "Add New Billing";
}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Add New Billing</h3>
    </div>
    <div class="card-body">
        <form method="post" action="/Billing/Create">
            <div class="row">
                <div class="col-xs-12 col-sm-3">
                    <div class="form-group">
                        <label>Payment Status<sup class="text-danger">*</sup></label>
                        <select class="form-control" asp-for="PaymentStatus" asp-items="Html.GetEnumSelectList<VmPaymentStatus>()" required>
                            <option selected="selected" value="">Please select</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <div class="form-group">
                        <label>Amount Paid<sup class="text-danger">*</sup></label>
                        <input type="text" class="form-control" name="AmountPaid" required>
                    </div>
                </div>
            </div>
            <button class="btn btn-success float-right" type="submit">Save</button>
        </form>
    </div>
</div>
