@model Service.Services.ParkingSpot.VmParkingSpot
@{
    ViewData["Title"] = "Add New Parking Spot";
}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Add New Parking Spot</h3>
    </div>
    <div class="card-body">
        <form method="post" action="/ParkingSpot/Create">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        <label>Company Name<sup class="text-danger">*</sup></label>
                        <input type="text"  class="form-control" name="CompanyName" required>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <div class="form-group">
                        <label>Latitude<sup class="text-danger">*</sup></label>
                        <input type="number"  class="form-control" name="Latitude" step="any" required>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <div class="form-group">
                        <label>Longitude<sup class="text-danger">*</sup></label>
                        <input type="number"  class="form-control" name="Longitude" step="any" required>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label>Location<sup class="text-danger">*</sup></label>
                        <textarea class="form-control" name="Location" rows="2" required></textarea>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        <label>Total Space In Square Feet<sup class="text-danger">*</sup></label>
                        <input type="number"  class="form-control" step="any" name="TotalSpaceInSquareFeet" required>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        <label>Available Space In Square Feet<sup class="text-danger">*</sup></label>
                        <input type="number"  class="form-control" name="AvailableSpaceInSquareFeet" step="any" required>
                    </div>
                </div>
            </div>
            <button class="btn btn-success float-right" type="submit">Save</button>
        </form>
    </div>
</div>

